.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-green {
  width: 230px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(252, 252, 252, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-green:after {
  content: '';
  background-color: #79c4bc;
  width: 100%;
  z-index: -2;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-green:hover:after {
  top: 0px;
  left: 0px;
}
