.footer {
  background-color: rgb(237, 237, 229);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 30px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #79c4bc;
}

.footer-copyright {
  font-size: 14px;
  font-weight: 400;
}
