nav {
  display: flex;
  background-color: rgb(237, 237, 229);
  justify-content: flex-end;
  top: 0;
  padding: 20px 0 10px 0;
  border-bottom: 1px darkslategray solid;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-links {
  display: flex;
  flex-direction: flex-end;
  justify-content: right;
  list-style-type: none;
}

.nav-link:hover {
  opacity: 1;
  color: gray;
  cursor: pointer;
}

.nav-link {
  color: black;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px 10px 0;
}
