h2 {
  text-align: center;
}

.resume-container {
  padding: 20px 70px 70px 70px;
  margin-top: 50px;
}

h4 {
  align-self: center;
  font-weight: 300;
}

.resume-description {
  display: flex;
  justify-content: space-between;
}

.resume-description h2 {
  text-align: center;
  color: rgb(66, 66, 66);
  font-weight: 300;
}

.resume-description p {
  font-weight: 300;
}

.round-img {
  width: 200px;
  border-radius: 50%;
  margin: 30px;
  border: solid 2px darkslategray;
}
