h2 {
  text-align: center;
  margin: 20px;
  font-family: 'Montserrat';
  color: rgb(14, 106, 102);
  font-weight: 500;
}

.resume-container {
  padding: 10px 70px 70px 70px;
  margin-top: 50px;
}

.resume-header {
  display: flex;
  justify-content: space-between;
}

.resume-text {
  align-self: center;
  font-weight: 300;
}

.resume-text h4 {
  align-self: center;
  font-weight: 300;
}

.resume-text p {
  font-weight: 300;
}

.round-img {
  width: 200px;
  border-radius: 50%;
  margin: 30px;
  border: solid 2px darkslategray;
}

.skills li {
  display: inline;
  font-size: 15px;
  border: black 1px solid;
  border: 1px solid #4a4a4a;
  padding: 7px;
  margin: 5px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
