body {
  background-color: rgb(237, 237, 229);
  font-family: 'Quicksand';
}

.container {
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: rgb(237, 237, 229);
  margin: 20px auto;
  font-size: 14px;
  max-width: 1200px;
}

.container .section {
  background-color: rgb(237, 237, 229);
  font-size: 14px;
  font-weight: 400;
}

.section .section-name {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.section .subsection {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.section {
  list-style: none;
  padding: 20px;
  /* border: 1px black solid; */
}

/* Header */

.resume-header {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.resume-avatar img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.resume-avatar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.resume-name {
  padding-left: 30px;
  border-left: 1px solid #000;
}

.resume-name h1 {
  font-weight: 300;
  color: rgb(14, 106, 102);
  font-family: 'Montserrat';
  font-size: xxx-large;
  margin: 0px 0 5px;
}

.resume-name .resume-specialize {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
}

.resume-name .resume-contact {
  padding-top: 10px;
  list-style: none;
}

.resume-name .resume-contact li {
  padding: 5px 0;
}

.info ul {
  padding: 0;
  margin: 0px;
  list-style: none;
  text-align: center;
  line-height: 30px;
}

/* Intro */

.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  width: 72%;
  padding: 40px 0 20px 0;
}

/* Education */
.logo-small {
  width: 40px;
  height: 40px;
}

.education h2 {
  padding-bottom: 10px;
}

.education-item {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.education-des {
  padding: 3px;
  width: 100%;
}

.education-item .education-header {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-weight: 600;
}

.education-info {
  padding-top: 5px;
}

/* Skills */

.skill ul {
  /* list-style: none; */
  padding: 10px;
}

.skill li {
  font-family: 'Montserrat';
  font-weight: 500;
  display: inline;
  padding: 7px 10px;
  line-height: 35px;
  font-size: 12px;
  color: rgb(5, 84, 83);
  border: 1px solid rgb(6, 100, 99);
  border-radius: 4rem;
}

.skill h4 {
  margin: 10px 0 10px;
}

/* Project */

.project h4 {
  margin: 20px 0 10px;
}

.project ul {
  list-style: none;
}

.project li {
  padding: 10px 0;
}

/* Experience */

.experience h4 {
  margin: 20px 0 10px;
}

.experience .company {
  font-weight: 600;
  font-family: 'Montserrat';
}

.other-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px;
  margin: 20px auto;
  font-size: 14px;
  width: 1200px;
}

.other-sections .section-name {
  padding-bottom: 20px;
}

.scholarship {
  width: 400px;
}
