@import url('navbar.css');
@import url('resume.css');
@import url('button.css');
@import url('footer.css');
@import url('resume.css');

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;800&family=Quicksand:wght@300;400&display=swap');

/* Reset default styles */
* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(237, 237, 229);
  z-index: -2;
  margin-top: 80px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: black;
}

li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

li p {
  margin-top: 10px;
  font-size: 0.8em;
}

/* "About" section */

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 0px 60px 0px 60px;
  max-width: 600px;
}

#about-text h1 {
  font-family: 'Quicksand';
  color: #333;
  font-size: 20px;
}

h1 {
  font-size: 45px;
  font-weight: 200;
}

#about-text p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Quicksand';
  /* margin: 20px; */
  color: #333;
}

#about-text h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Quicksand';
  /* margin: 20px; */
  color: #333;
}

.about-text .name {
  display: flex;
  justify-content: center;
  text-align: center;
  /* color: rgb(14, 106, 102); */
  font-size: 40px;
  font-family: 'Montserrat';
  font-weight: 300;
}

.animated-img {
  width: 270px;
  border-radius: 50%;
  margin: 30px;
  border: solid 2px darkslategray;

  animation: ava-animate 7s infinite alternate;
}

@keyframes ava-animate {
  0% {
    border-radius: 19% 81% 49% 51% / 34% 51% 49% 66%;
  }

  40% {
    border-radius: 57% 43% 78% 22% / 56% 71% 29% 44%;
  }

  60% {
    border-radius: 34% 66% 25% 75% / 21% 47% 53% 79%;
  }

  80% {
    border-radius: 72% 28% 28% 72% / 32% 76% 24% 68%;
  }

  10% {
    border-radius: 22% 78% 63% 37% / 74% 28% 72% 26%;
  }
}

/* Project section */

.project-container {
  padding: 10px 70px 70px 70px;
  margin-top: 10px;
}

.project-heading h1 {
  text-align: center;
  font-family: 'Montserrat';
  margin: 40px 0 0px 0;
  /* color: rgb(14, 106, 102); */
  font-weight: 300;
  text-transform: uppercase;
  font-size: 25px;
}

.project-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 50px;
}

.project-card-info {
  display: flex;
  flex-direction: column;
}

.project-card-info p {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  color: #333;
}

.project-card-img {
  background-size: cover;
  background-position: center;
  width: 330px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 1px rgb(246, 246, 246) solid;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem #d2e8e6;
}

.project-card-des {
  margin-top: 30px;
}

.devicon-icons {
  text-align: center;
  color: rgb(147, 147, 147);
  padding-bottom: 10px;
  font-family: 'Quicksand';
  padding-bottom: 30px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }

  li {
    margin-bottom: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-green {
    padding: 13px 50px 13px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
