/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

/* Reset default styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(237, 237, 229);
}

h1 {
  font-size: 50px;
  font-weight: 200;
  margin: 10px 0;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Navbar */

nav {
  display: flex;
  justify-content: flex-end;
  top: 0;
  /* margin-left: 20px; */
  /* padding-left: 20px; */
  margin: 20px auto;
  padding-bottom: 10px;
  border-bottom: 1px darkslategray solid;
}

.nav-links {
  display: flex;
  flex-direction: flex-end;
  justify-content: right;
  list-style-type: none;
}

.nav-link:hover {
  opacity: 1;
  color: gray;
  cursor: pointer;
}

.nav-link {
  color: black;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px 10px 0;
}

li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

li p {
  margin-top: 10px;
  font-size: 0.8em;
}

.name {
  color: rgb(14, 106, 102);
  font-size: 53px;
}

/* "About" section */

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 0px 60px 0px 60px;
  max-width: 750px;
}

#about-text h1 {
  display: flex;
  justify-content: left;
  margin: 20px;
  top: 0;
  color: #333;
}

#about-text {
  display: flex;
  justify-content: left;
  margin: 20px;
  top: 30;
  color: #333;
}

.round-img {
  width: 230px;
  border-radius: 50%;
  margin: 30px;
  border: solid 2px darkslategray;
}

.btns-green {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;
  max-width: 600px;
}

.btn-green {
  display: inline;
  justify-content: space-evenly;
  width: 230px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(252, 252, 252, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-green:after {
  content: '';
  background-color: #79c4bc;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-green:hover:after {
  top: 0px;
  left: 0px;
}

/* Project section */

.project-heading h3 {
  text-align: center;
  margin: 80px 0 30px 0;
  /* text-transform: uppercase; */
  color: black
  font-weight: 400;
}

.project-container {
  /* width: 40%; */
}

.project-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.project-card-category {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #d23333;
}

.footer-copyright {
  font-size: 14px;
  font-weight: 400;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }

  /* main {
		padding: 20px;
	} */

  li {
    margin-bottom: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-green {
    padding: 13px 50px 13px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
